{% extends "layout.html" %}
{% block content %}
<body>
    <div id="body"></div>
    <div id="header">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><img src="images/putt-putt.png" border=0 alt="Putt Putt" class="img-rounded" width="75" height="25"></a>
                </div>
                <ul class="nav navbar-nav" id="productlist">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
                
            </div>
        </nav>
    </div>
    <div id="map">
        <div id="searchbar">
            <form name="coursesearch">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Type to start searching" name="coursesearch" onkeyup="searchCourses(this.value)">
                </div>
            </form>
            <div id="results"></div>
        </div>
        <div id="mapcontent"></div>
    </div>
    <div class="container-fluid">
        <div id="myModal" class="modal fade" role="dialog"></div>
    </div>
    <div id="footer" onclick="window.location='https://twitter.com/thedustmakers';"></div>
</body>
{% endblock %}